@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&display=swap');

body {
    font-family: 'Inconsolata', monospace;
    font-size: 4vw;
}

h1 {
    cursor: pointer;
    padding: 20px;
    text-align: center;
}